$primary-color: #444;

* {
    box-sizing: border-box;
}

body {
    background: $primary-color;
    color: white;
    height: 100%;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}