$primary-color: #444;

* {
    box-sizing: border-box;
}

body {
    background: $primary-color;
    color: white;
    height: 100%;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
}

// Headings
h1, h2, h3 {
    margin: 0;
    font-weight: 450;

    &.lg-heading {
     font-size: 4rem;
    }

    &.sm-heading {
        margin-bottom: 2rem;
    }
}